body
		{
		background: url(gloomy.jpeg) no-repeat center center fixed;
		background-size: cover;
		font-family: 'Gloria Hallelujah', cursive;
		color: #363636; 
		}
h1
		{
		text-align: center;
		font-size: 15px;
		margin-top: 10%;
		margin-left: 5%;
		}
p	
		{
		text-align: center;
		font-size: 16px;
		margin-left: 3%;
		}